/* Header */
header {
  background-color: #10076a;
  height: 120px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header > div {
  display: flex;
  align-items: center;
  padding: 5px;
}

#menu {
  color: #fff;
  margin-right: 10px;
}

select {
  border-radius: 5px;
  width: 70px;
}

#input-search {
  padding-left: 30px;
  border-radius: 5px;
  background: url(../assets/img/search-solid.svg) no-repeat 5px center/20px;
  background-color: #fff;
}

#logo-title {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 80px;
}

#logo-title #title {
  font-size: 36px;
  color: #fff;
}

/* Main */
section {
  position: absolute;
  top: 100px;
  width: 100%;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
}

#loader i {
  font-size: 32px;
  color: #aaa;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.movie {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.movie-cover {
  width: 100px;
  height: 140px;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-cover i {
  font-size: 48px;
  color: #666;
}


.movie-details {
  padding: 0 10px;
  flex: 1;
  flex-wrap: wrap;
}

.movie-details .movie-title {
  height: 40px;
}

.movie-details .category {
  color: #666;
}

#btn-more {
  display: block;
  padding: 15px;
  margin: 10px auto;
  width: calc(100% - 30px);
  border-radius: 5px;
  outline: none;
  border: 1px solid #ddd;
  background-color: #10076a;
  color: #fff;
  font-size: 16px;
  display: none;
}

#btn-more span {
  margin-right: 20px;
}

#btn-more:active {
  opacity: .9;
}

@media screen and (min-width: 1024px) {
  header {
    height: 200px;
  }

  #logo-title #title {
    font-size: 64px;
    color: #fff;
  }

  section {
    top: 150px;
  }

  #btn-more {
    width: 300px;
    cursor: pointer;
  }

  .movie {
    border: 1px solid #eee;
    height: 540px;
    flex-direction: column;
  }

  .movie-cover {
    width: 100%;
    height: 100%;
  }

  .movie-cover i {
    font-size: 128px;
    opacity: .6;
    transition: all .4s ease-in-out;
  }

  .movie-cover i:hover {
    opacity: 1;
  }
}