:root {
  --primary-color: #10076a;
}

/* Header */
header {
  background-color: var(--primary-color);
  height: 120px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header > div {
  display: flex;
  align-items: center;
  padding: 5px;
}

#header #right {
  width: 100%;
  justify-content: flex-end;
}

#header-2 {
  position: relative;
  display: flex;
  justify-content: center;
}

#btn-options {
  color: #fff;
  padding: 5px;
  margin-left: 5px;
}

#btn-menu {
  color: #fff;
  margin-right: 10px;
  border-radius: 100%;
  padding: 5px;
}

#btn-menu:active {
  background-color: #00000041;
}

select {
  border-radius: 5px;
  width: 140px;
  padding: 10px;
  z-index: 10;
  background: none;
  font-size: 14px;
  color: #fff;
  background: #00000048;
}

#input-search {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px center;
  background-image: url(../assets/img/search-light.svg);
  background-color: var(--primary-color);
  padding: 10px 10px 10px 30px;
  width: 10px;
  z-index: 10;
  font-size: 16px;
  color: #666;
}

#input-search:focus {
  flex: 1;
  /* background-image: url(../assets/img/search-dark.svg); */
  background-color: rgba(255, 255, 255, 0.12);
}

#logo-title {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: -30px;
}

#logo-title #title {
  font-size: 36px;
  color: #fff;
}

/* Main */
section {
  position: absolute;
  top: 100px;
  width: 100%;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  background-color: #fff;
  border-radius: 10px;
}

#loader i {
  font-size: 32px;
  color: #aaa;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.movie {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.movie-cover {
  width: 100px;
  height: 140px;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-cover i {
  font-size: 52px;
}


.movie-details {
  padding: 0 10px;
  flex: 1;
  flex-wrap: wrap;
}

.movie-details .movie-title {
  height: 40px;
  text-transform: uppercase;
}

.movie-details .category {
  color: #666;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.movie-details .movie-categories {
  height: 45px;
}

.movie-details .views-likes {
}

#btn-more {
  display: block;
  padding: 15px;
  margin: 10px auto;
  width: calc(100% - 30px);
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #10076a;
  color: #fff;
  font-size: 16px;
  user-select: none;
  display: none;
}

#btn-more span {
  margin-right: 20px;
}

#btn-more i {
  animation: anm 3s 1s infinite;
}

@keyframes anm {
  0%{transform: translateY(0);}
  50%{transform: translateY(2px)}
  75%{transform: translateY(-1px)}
  100%{transform: translateY(0)}
}

#btn-more:active {
  opacity: .9;
}

/* Slider */
#slider-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  bottom: 0;
  background-color: #00000086;
  z-index: 30;
  display: none;
  overflow: hidden;
}

#slider {
  position: absolute;
  width: 80%;
  left: -80%;
  background-color: #fff;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
}

#slider a {
  display: flex;
  align-items: center;
  padding: 20px 10px; 
  font-size: 20px;
  color: #666;
  border-bottom: 1px dotted #aaa;
}

#slider a span {
  margin-left: 10px;
}

#change-theme {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#change-theme i {
  margin-right: 10px;
}

#change-theme input {
  accent-color: #10076a;
}

#change-theme label {
  font-size: 20px;
  flex: 1;
  color: #666;
}

#change-theme input {
  background-color: #10076a;
}

@media screen and (min-width: 1024px) {
  header {
    height: 200px;
  }
  select {
    width: 200px;
  }

  #logo-title #title {
    font-size: 64px;
    color: #fff;
  }

  section {
    top: 150px;
  }

  #btn-more {
    width: 300px;
    cursor: pointer;
  }

  .movie {
    border: 1px solid #eee;
    height: 540px;
    flex-direction: column;
  }

  .movie-cover {
    width: 100%;
    height: 100%;
  }

  .movie-cover i {
    font-size: 128px;
    opacity: .6;
    transition: all .4s ease-in-out;
  }

  .movie-cover i:hover {
    opacity: 1;
  }
}